
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

// :root {
//     --bs-body-font-family: 'Allura';
// }

body {
    background: url('@/assets/img/flower-clip-art-corner-flower.png'), #ffebd4 !important;
}

.allura {
    font-family: 'Allura';
}

.inviteCard {
    background-color: #f6f0df;
}

.nameSignature {
    font-size: 5.75em;
    font-weight: bold;
    color: #1e1e1e;   
    line-height: .95em !important;
}

.subHeadText {
    font-size: 2em;
    color: #1e1e1e;   
}

.navTxt {
    color: #1e1e1e;
    font-weight: 300 !important;
}

.navTxt:hover {
    color: #676767;
}

.router-link-active {
    color: #7c5161 !important;
    font-weight: 400 !important;
}

.itinerary-dayheader {
    font-size: 2em;
    color: #7c5161 !important;
    // border-bottom: 2px solid #7c516155;
}

.itinerary-dayheader span {
    padding-top: 5px;
}

.itinerary-dayheader img {
    filter: invert(33%) sepia(11%) saturate(1458%) hue-rotate(286deg) brightness(95%) contrast(81%);
    width: 100px;
    height:41.6px;
    opacity: 0.5;
    margin: 0px 15px 20px 15px;
}

.itinerary-eventtitle {
    text-align: right;
    color: #7c5161 !important;
}

.itinerary-eventtime {
    text-align: left;
    color: #7c5161 !important;
    border-left: 2px solid #7c516155;
    display: flex;
    align-items: center;
}

.itinerary-eventpanel {    
    border-bottom: 1px solid #7c516124;
}